.rouge {
    color: red;
}


/* .btn-custom:hover {
    box-shadow:inset -160px -160px 40px #fff;
} */
.post-img {
    transition:all .5s;
    max-width: 10em;
    max-height: 10em;
    position: relative;
}
.post-img:hover {
    max-width: 15em;
    max-height: 15em;
    position: relative;
    transition:all .5s;
    z-index: 100;
}
.photo {

    transition:all .5s;
}

/* .plus {
    width: 2em;
    height: 2em;
    transition:all .5s;
}
.plus:hover {
    width: 3em;
    height: 3em;
    transition:all .5s;
} */

@media all and (min-width: 768px) {
    
    #phrase{
        font-size: 2rem;
        font-weight: 1000;
        font-family: cursive;
        color: seagreen;
        text-align: center;
    }
    #phrase_index{
        font-size: 2rem;
        font-weight: 1000;
        font-family: cursive;
        color: light;
        text-align: center;
    }
    #card-img
    {
    height: 60rem;
    }
    .index
    {
        width: 33rem;
        font-size: 5rem;
    }

}
@media all and (max-width: 768px) 
{
    
    #phrase
    {
        font-weight: 200;
        font-family: cursive;
        color: seagreen;
        text-align: center;
    }
    #phrase_index{
        font-weight: 200;
        font-family: cursive;
        color: light;
        text-align: center;
    }
    #card-img
    {
    height: 40rem;
    }
    .none
    {
    display: none;
    }
    .post-img {
        transition:all .5s;
        max-width: 5em;
        max-height: 5em;
        position: relative;
    }



}
.phraseBody 
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.nomCarousel
{
    font-size: 2rem;
    background-color: rgba(112, 112, 112, 0.205);
    background-size: 2rem;
}
.prixCarousel 
{
    font-size: 1rem;
    background-color:  rgba(112, 112, 112, 0.205);
    background-size: 0.1em;
}
.fleche
{
    
    border: none;
    table-layout: fixed;
   width: 15px;

}

.table
{
   table-layout: fixed;
   width: 15px;
}